
<div class="site-footer">
  <div class="container">
    <div class="text-muted">
      © 2014 blog-eye.com · 
      <%= link_to Settings.site.owner_en, "mailto:#{Settings.site.owner_email}" %> · 
      All rights reserved · 
      <a href="#">返回顶部</a>
    </div>
  </div>
</div>
