
<div class="site-footer">
  <div class="container">
    <div class="text-muted">
      © 2014 <%= Settings.site_domain %>.
      <a href="mailto:agilejzl@gmail.com">Teddy Jiang</a>. 
      All rights reserved. 
      <a href="#">返回顶部</a>
    </div>
  </div>
</div>
