
<title><%= page_title %></title>

<meta charset="utf-8">
<meta http-equiv="Content-Language" content="zh">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="robots" content="<%= seo_intro %>">
<meta name="description" content="<%= seo_intro %>">
<meta name="keywords" content="<%= seo_intro %>">

<!--[if lt IE 9]>
  <%#= javascript_include_tag "shared/ie_support" %>

  <style type="text/css">
    table {
      table-layout: fixed;
    }
  </style>
<![endif]-->
