
<title><%= page_title %></title>
<meta charset="utf-8">
<meta http-equiv="Content-Language" content="zh">

<meta name="robots" content="<%= page_title %>">
<meta name="description" content="<%= page_title %>">
<meta name="keywords" content="<%= meat_keywords %>">
