
<div class="blog-posts">
  <h4>最近的文章: </h4>
  <% if posts.size > 0 %>
    <% posts.each do |post| %>
      <div class="newer_row blog-post">
        <h4 class="blog-post-title">
          <%= link_to omited_str(post.title), frontend_post_path(post) %>
        </h4>
        <p class="blog-post-meta">
          <%= post.published_time %>
          <a href="#"><span class="badge"><%= post.tags %></span></a>
        </p>

        <div class="blog-post-content">
          <%= omited_str(post.content, 150) %>
        </div>
      </div>
    <% end %>
  <% else %>
    最近没有任何文章。
  <% end %>
</div>
