
<div class="blog-replies">
  <h4>最近的点评: </h4>
  <% if replies.size > 0 %>
    <% replies.each do |reply| %>
      <div class="newer_row blog-reply">
        <h4 class="blog-reply-title">
          <%= link_to omited_str(reply.post.title), frontend_post_path(reply.post) %>
        </h4>
        <p class="blog-reply-meta">
          <%= reply.published_time %>
        </p>

        <div class="blog-reply-content">
          <%= link_to omited_str(reply.content, 150), frontend_post_path(reply.post) %>
        </div>
      </div>
    <% end %>
  <% else %>
    最近没有任何点评。
  <% end %>
</div>
