
<div class="blog-users">
  <h4>最近的用户: </h4>
  <% if users.size > 0 %>
    <% users.each do |user| %>
      <div class="newer_row blog-user">
        <h4 class="blog-user-name">
          <%= link_to omited_str(user.name), frontend_path(user) %>
        </h4>
        <p class="blog-user-meta">
          <%= user.created_time %>
          <a href="#"><%= user.email %></a>
        </p>

        <div class="blog-user-content">
          <%= omited_str(user.uid, 150) %>
        </div>
      </div>
    <% end %>
  <% else %>
    最近没有任何用户。
  <% end %>
</div>
