
<div class="row newer_content">
  <div class="col-md-4 well newer_codes">
    <%= render partial: 'frontend/home/codes', locals: { codes: @codes } %>
  </div>

  <div class="col-md-8 newer_posts">
    <%= render partial: 'frontend/home/posts', locals: { posts: @posts } %>
  </div>
</div>