
<% if @posts.size > 0 %>
  <label>分类 <%= @category.name %> 下的文章列表: </label>
  <%= render partial: 'frontend/shared/posts', locals: { posts: @posts } %>
<% else %>
  <label>分类 <%= @category.name %> 下没有任何文章。</label>
<% end %>
