
<div class="pagehead">
  <div class="container">
    <div class="col-md-8">
      <h4><%= "#{Settings.site.name_zh} · #{site_intro}" %></h4>
    </div>

    <div class="col-md-4">
      <form action="#" class="navbar-search" method="get">
        <input type="text" name="q" class="search-query form-control" value="" placeholder="搜索">
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    $("form.navbar-search").on("submit", function(){
      var base_url = "<%= base_search_url %>";
      var keyword = $(this).find("input.search-query").val().trim();
      $(this).attr('action', base_url + keyword);
    });
  });
</script>
