<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-sm-12">
        <h1>Ruby Eye</h1>
        <p>To be continued...</p>
      </div>
    </div>
  </div>
</div>
