
<div class="row">
  <div class="col-md-9">
    <label>全部代码列表: </label>
  </div>

  <div class="col-md-3 text-right">
    <%= link_to '添加代码', new_admin_code_path %>
  </div>
</div>

<div class="row">
  <%= render partial: 'admin/shared/codes', locals: { codes: @codes } %>
</div>
