
<div class="jumbotron">
  <div class="container">
    <div class="row-fluid">
      <%= link_to '我的博客', admin_root_path, class: 'admin_home_link' %>
      <%= link_to '访问我的主页', frontend_user_path(current_user), class: 'pull-right mainpage_link' %>
    </div>
  </div>
</div>
