
<div class="row">
  <div class="col-md-9">
    <label>所有通知列表: </label>
  </div>

  <div class="col-md-3 text-right">
    
  </div>
</div>

<div class="row">
  <%= render partial: 'admin/shared/messages', locals: { messages: @messages } %>
</div>
