
$bgcolor-f9: #f9f9f9;
$bgcolor-fa: #fafafa;
$bgcolor-fb: #fbfbfb;
$bgcolor-fc: #fcfcfc;
$bgcolor-fd: #fdfdfd;
$bgcolor-fe: #fefefe;
$bgcolor-ff: #ffffff;

@mixin href_ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
