
@import "font-awesome";
@import "shared/_variables";
@import "shared/blog";
@import "shared/bootstrap";
@import "shared/pnotify.all.min";

body {
  color: #333333;
  background-color: #fff;
  // background: url(asset_path('shared/bg.png')) repeat 0 0;
}

td {
  max-width: 400px;
}

.site-footer {
  color: #777;
  line-height: 1.5;
  text-align: center;
  position: relative;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1px solid #eee;
}

.href_name {
  @include href_ellipsis();
}

.well {
  background-color: $bgcolor-fc;
}

.panel-heading {
  background-color: $bgcolor-fb;
}

.panel-default>.panel-heading {
  background-color: $bgcolor-fb;
}

.panel-body {
  background-color: $bgcolor-fc;
}

.panel-footer {
  background-color: $bgcolor-fa;
}

.form-control {
  background-color: $bgcolor-fc;
}

.panel-group .panel + .panel {
  margin-top: 0px;
  border-top: 0px;
}

.display_none {
  display: none;
}

.text_middle {
  vertical-align: middle!important;
}

.text_bold {
  font-weight: bold;
}

a {
  color: #4183c4;
  text-decoration: none;
}

ul, ol {
  li {
    margin-top: 5px;
    margin-bottom: 8px;
  }
}

.pagehead {
  position: relative;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #eee;
}

.user_face {
  width: 48px;
  height: 48px;
  margin-right: 10px;
}

.bloger_photo {
  width: 230px;
  height: 230px;
}

.pagination {
  margin: 10px 0px;

  span {
    margin-right: 8px;
  }
}

.box {
  padding: 10px;
  margin: 0 0 20px 0;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0 0px 2px rgba(0,0,0,0.07);
  -moz-box-shadow: 0 0px 2px rgba(0,0,0,0.07);
  -webkit-box-shadow: 0 0px 2px rgba(0,0,0,0.07);
}

.simple_captcha {
  padding: 5px;
  border: 1px solid #ccc;

  div {
    display: table;
  }

  .simple_captcha_field, .simple_captcha_image {
    padding: 0px;
    cursor: pointer;
    border: 1px solid #ccc;
    margin: 0px 0px 2px 0px;
  }

  .simple_captcha_image img {
    margin: 0px;
    padding: 0px;
    height: 36px;
  }
}

