
@import "shared/blog";
@import "shared/sticky-footer-navbar";
@import "shared/bootstrap";
@import "shared/pnotify.all.min";

.display_none {
  display: none;
}

.text_middle {
  vertical-align: middle!important;
}

.text_bold {
  font-weight: bold;
  font-size: 1.1em;
}

a {
  font-size: 1.1em;
  color: #4183c4;
  text-decoration: none;
}

ul, ol {
  li {
    a {
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: larger;
    }
  }
}

.bloger_photo {
  width: 230px;
  height: 230px;
}

.pagination {
  margin: 10px 0px;

  span {
    margin-right: 8px;
  }
}
