
@import "font-awesome";
@import "shared/_variables";
@import "shared/blog";
@import "shared/sticky-footer-navbar";
@import "shared/bootstrap";
@import "shared/pnotify.all.min";

body {
  background: url(asset_path('shared/bg.png')) repeat 0 0;
}

.panel-body {
  background-color: $text-bgcolor;
}

.form-control {
  background-color: $text-bgcolor;
}

.display_none {
  display: none;
}

.text_middle {
  vertical-align: middle!important;
}

.text_bold {
  font-weight: bold;
}

a {
  color: #4183c4;
  text-decoration: none;
}

ul, ol {
  li {
    margin-top: 5px;
    margin-bottom: 8px;
  }
}

.jumbotron {
  padding: 30px;
  margin-bottom: 0px;
}

.bloger_photo {
  width: 230px;
  height: 230px;
}

.pagination {
  margin: 10px 0px;

  span {
    margin-right: 8px;
  }
}

.box {
  padding: 10px;
  margin: 0 0 20px 0;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0 0px 2px rgba(0,0,0,0.07);
  -moz-box-shadow: 0 0px 2px rgba(0,0,0,0.07);
  -webkit-box-shadow: 0 0px 2px rgba(0,0,0,0.07);
}

.simple_captcha {
  padding: 5px;
  border: 1px solid #ccc;

  div {
    display: table;
  }

  .simple_captcha_field, .simple_captcha_image {
    padding: 0px;
    cursor: pointer;
    border: 1px solid #ccc;
    margin: 0px 0px 2px 0px;
  }

  .simple_captcha_image img {
    margin: 0px;
    padding: 0px;
    height: 36px;
  }
}

