
@import "shared/utils";

.jumbotron {
  padding: 30px;
  margin-bottom: 0px;

  a.admin_home_link {
    font-size: x-large;
    text-decoration: none;
  }

  a.mainpage_link {
    font-size: large;
  }

  a:hover {
    text-decoration: none;
  }
}

.form-group {
  select {
    max-width: 200px;
  }

  input.string {
    max-width: 400px;
  }

  input[type="number"] {
    max-width: 200px;
  }

  input[type="file"] {
    max-width: 400px;
  }
}

