
@import "shared/utils";

.alert-info {
  margin-top: 30px;
}

.session-form {
  margin: 0 auto;
  max-width: 400px;
  padding: 20px 0px 15px 0px;
}
.session-form .heading,
.session-form .checkbox {
  // margin-bottom: 10px;
}
.session-form .checkbox {
  font-weight: normal;
}
.session-form .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.session-form .form-control:focus {
  z-index: 2;
}
.session-form input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.session-form input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
