
default: &default
  adapter: mysql2
  encoding: utf8
  reconnt: false
  timeout: 5000
  username: root
  password:
  host: localhost
  port: 3306
  pool: 5

development:
  <<: *default
  database: blog-eye_dev

test:
  <<: *default
  database: blog-eye_test

production:
  <<: *default
  database: blog-eye_pro
