
site:
  name: Blog Eye
  name_zh: "\u535a\u5ba2\u773c"
  ip: 121.40.94.192
  domain: www.blog-eye.com
  owner_en: Teddy Jiang
  owner_email: agilejzl@gmail.com

baidu:
  tongji_ua: xxx

bugsnag:
  api_key: xxx

user:
  skip_captcha: false

test:
  site_url: 'http://localhost:3000'

max_notice_times: 2

sensitive_pages:
  - 'http://localhost:3000/'

site_mailer:
  admin_user: agilejzl@gmail.com
  from: blog_eye@126.com
  return_path: blog_eye@126.com
  address: smtp.126.com
  user_name: blog_eye@126.com
  password: xxx

cache_store:
  name: redis
  expires_in: 90
  store: redis_store
  store_dir: redis://localhost:6379/0/cache

cdn:
  storage: qiniu
  dir_prefix: pro
  access_key: xxx
  secret_key: xxx
  bucket: blog-eye
  bucket_domain: blog-eye.qiniudn.com

exclusions:
  - www
  - admin
  - system
  - guest
  - frontend
  - backend
  - status
  - api
  - service
  - noreply

devise:
  secret_key: xxx

SECRET_KEY_BASE: xxx

