
site_name: Blog Eye
site_name_zh: "\u535a\u5ba2\u773c"
site_ip: 121.40.94.192
site_domain: blog-eye.com

site_mailer: 
  address: smtp.126.com
  user_name: blog_eye@126.com
  password: xxx

cdn:
  storage: qiniu
  dir_prefix: pro
  access_key: xxx
  secret_key: xxx
  bucket: blog-eye
  bucket_domain: blog-eye.qiniudn.com

exclusions:
  - www
  - admin
  - system
  - guest
  - frontend
  - backend
  - status
  - api

devise:
  secret_key: xxx

SECRET_KEY_BASE: xxx
