<!DOCTYPE html>
<html>
<head>
  <title>RubyEye</title>
  <%= stylesheet_link_tag    'frontend/blog_home', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'frontend/blog_home', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
