
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <%= link_to @blogger.blogger_title, frontend_path(@blogger), class: 'text_bold blogger_title' %>
    </div>
  </div>
</div>
