
<p>尊敬的<%= link_to Settings.site_name_zh, frontend_root_url %>管理员 <%= @send_to %>，你好!</p>

<p>网站 <%= link_to Settings.site_domain, frontend_root_url %> 敏感词检测结果如下: </p>

<p><%= @content.html_safe %></p>
