
<p>尊敬的用户 <%= @send_to %>，你好!</p>

<p>你在 <%= link_to Settings.site.name_zh, frontend_root_url %> 使用邮箱 <%= @send_to %> 注册了账号。 </p>

<p>当你收到这份邮件时，说明你的账号已经注册成功。</p>

<p>非常感谢你对 <%= link_to Settings.site.name_zh, frontend_root_url %> 的支持，谢谢！</p>
