
<div class="row newer_content">
  <div class="newer_blogs">
    <%= render partial: "row", locals: { blog: @blog } %>
  </div>

  <p class="box">
    <%= link_to "返回查看所有日志", frontend_blogs_path %>
  </p>
  
</div>
