
@import "shared/utils";

.newer_content {
  .newer_row {
    margin-bottom: 0px;
    padding-bottom: 8px;
    border-bottom: 1px solid #ddd;

    .post-user {
      padding-top: 6px;
    }

    .post-title {
      font-size: larger;
      padding: 3px 0px 5px 0px;
    }
  }
}
