
@import "shared/utils";

.container {
  .jumbotron {
    margin-top: -10px;
    padding: 10px 10px;
  }
}

.newer_content {
  .newer_row {
    margin-bottom: 0px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
  }
}
