// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.footer {
  text-align: center;
}

h2, h3 {
  font-size: 1.0em!important;
}

table {
  th, td {
    max-width: 222px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.panel > div {
  padding: 3px 15px 1px 15px;
}

.panel_contents {
  ul {
    li {
      font-size: 1.1em;
      padding: 0px 0px 5px 0px;
    }
  }
}
