
<p>尊敬的<%= Settings.site.name_zh %>用户 <%= @resource.email %>，你好！</p>

<p>你在我们的网站 <%= link_to Settings.site.domain, frontend_root_url %> 请求修改密码，你可以通过下面的链接操作。</p>

<p><%= link_to '修改密码', edit_password_url(@resource, reset_password_token: @token), target: '_blank' %></p>

<p>如果上面的链接无效，你可以直接拷贝链接在浏览器中访问。</p>

<p>如果你没有请求修改密码，请忽略这封邮件。</p>

<p>你的密码不会被修改，除非你访问上面的链接并修改密码。</p>
