
<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
      <a class="blog-nav-item" href="<%= frontend_root_path %>"><%= Settings.site_name %></a>
      <a class="blog-nav-item active" href="<%= frontend_user_path(1) %>">Home</a>
      <a class="blog-nav-item" href="#">New features</a>
      <a class="blog-nav-item" href="#">New hires</a>
      <a class="blog-nav-item" href="#">About</a>
      <a class="blog-nav-item pull-right" href="<%= admin_root_path %>">Admin</a>
    </nav>
  </div>
</div>
